:root {
  --primary-color: #007bff;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

.primary-background,
.primary-background:active,
.primary-background:hover,
.primary-background:focus,
.primary-background:visited {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
  transition: all 0.5s ease-in;
}

.secondary-background {
  background-color: var(--secondary-color);
  transition: background-color 0.5s ease-in;
}

.primary-text {
  color: var(--primary-color);
  transition: color 0.5s ease-in;
}

.white-background {
  background-color: var(--bg-color);
  transition: background-color 0.5s ease-in;
}

.black-text {
  color: var(--heading-color);
  transition: color 0.5s ease-in;
}
