body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-width: 600px;
  margin: auto;
}

html {
  height: -webkit-fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}

.message-input::placeholder {
  color: white;
  opacity: 0.5;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:active {
  background-color: #007bff;
  border-color: #007bff;
}
